body{
  padding-left: 0px;
  
}
p{

  padding: 0px;

  background-color: #c4c4c4;
  text-align: center;
}
a:hover{
  color: gray;
  background-color: inherit;
  text-decoration: underline;
}
a:visited{
  columns: #eba7a7;;
  background-color: inherit;
}
