body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: #dddddd; */
    background-image: url("../pics/1.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 100%;
    /* background-position: center; */
    
}

ul{
   
    list-style-type: none;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.125em;
    margin: 0px;
    overflow: hidden;
}
li a{
    color:white;
    text-decoration: none;
    float: left;
    padding: 0.600em;
    margin: 0px;
}
li a:hover{
    background-color: rgb(39, 39, 39);
}


table{
    padding: 0.3125em;
    border-collapse: collapse;
    width: 30%;
}
td,th{
    border: 0.125em solid  rgb(150, 150, 150);
    padding:0.3125em;
}
tr:nth-child(even){
    background-color: rgb(199, 199, 199);
}
div{
    height: 0.125em;
    width: 50%;
}
